html {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: Georgia;
    font-size: 75px;
    text-align: center;
}

label {
    text-align: center;
    font-size: 25px;
    font-family: times;
}

input {
    display: flex;
    background-color: rgb(197, 197, 197);
    height: 50px;
    width: 400px;
    font-size: 20px;
    position: center;
    align-items: center;
    text-align: center;
}
.frase {
    display:flex;
    margin-left: 350px;
    text-align: center;
    width: 500px;
    height: 150px;
    font-size: 25px;
    font-family: Georgia;
    background-color: rgba(248, 223, 194, 0.986);
    border-radius: 10px;
}
.button {
    background-color: #5eff00;
    margin-left: 400px;
    text-align: center;
}

.value {
    position: center;
}

.a {
    display: flex;
    justify-content: center;
}

.resultado {
    text-align: center;
    font-size: 25px;
    font-family: times;
} 

img {
    width: 1200px;
}

.block {
    background-color: rgba(248, 223, 194, 0.986);
    width: 35px;
    height: 100%;
}